
.title h1{
    font-size: 60px;  
    margin-bottom: 30px;
}
.center {
    text-align: center;
    margin-top: 100px;
  }

 .margin{
     margin-top: 70px;
 } 

 .margin-footer{
   margin-top: 150px;
 }

 .card-margin-left{
   margin-left: 25px;
 }

 .card-margin{
     margin-right: 20px;
     border-radius: 10px;
 }
.card-size{
    height: 400px;
    width: 250px;

}

.card-content{
    margin-top: 30px;
    text-align: left;
    
}

.card-button1{
  margin-top: 80px;
}

.card-button2{
  margin-top: 42px;
}
.card-button3{
  margin-top: 32px;
}
.card-button4{
  margin-top: 55px;
}

.card-background{
  background-color: #FBFBFB;
}

  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  
  .form-control.shadow-0:focus {
    box-shadow: none;
  }


